* {
    margin: 0,
    padding 0;
    box-sizing: border-box;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: dashed 1px white;
    background-color: transparent;
    color: white;
    padding-bottom: 0.1rem;
    text-align-last: center;
}

option {
    color: black;
}

h1 {
    color: white;
    font-size: 3rem;
}

.header-left,
.header-right {
    flex-grow: 1;
    align-items: first baseline;
}

.name {
    font-size: 2rem;
}

.date {
    font-size: 3.5rem;
}